<launch>
  <arg name="visualOdom" default="true"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rover_description)/worlds/terrain.world"/>
    <!-- change the world file based on the world you want to work with-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
    <node pkg="marker_detection_rover" type="find_between.py" name="find_between" output="screen">
        
    </node>
    <node pkg="marker_detection_rover" type="find_between_1.py" name="find_between_1" output="screen">

    </node>

    <node pkg="marker_detection_rover" type="find_between_2.py" name="find_between_2" output="screen">
      
    </node>
    
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find rover_description)/urdf/rover_description.urdf -urdf -model mars_rover"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  
    <!-- Load URDF -->
  <param
    name="robot_description"
    textfile="$(find rover_description)/urdf/rover_description.urdf"/>
  <include file="$(find rover_control)/launch/control.launch"/>
  <include file="$(find rover_control)/launch/teleop.launch"/>
  <include file="$(find aruco_sim_rover)/launch/arucoSpawner.launch"/>
  <include file="$(find rover_navigation)/launch/move_base_mapless_demo.launch"/>
  <!-- <include file="$(find rover_description)/launch/display.launch"/> -->
  <include file="$(find viso2_ros)/launch/demo.launch" if="$(arg visualOdom)"/>


</launch>