<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_ros)/worlds/empty.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

 <!-- Set the arguments to be passed -->
    <arg name="x" default="3"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="1"/>
    <arg name="robot_name" default="aruco_sim"/>
    <arg name="node_name" default="urdf_spawner"/>
    <arg name="model_name" default="arucoMarker1"/>
    <arg name="file_name" default="arucoMarker0.dae"/>
    <arg name="rviz_config" default="$(find rover_description)/rviz/rviz_image.rviz"/>


    <!-- Include the other launch file and pass arguments -->
    <include file="$(find aruco_sim_rover)/launch/arucoSpawner.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="node_name" value="$(arg node_name)"/>
        <arg name="model_name" value="$(arg model_name)"/>
        <arg name="file_name" value="$(arg file_name)"/>
    </include>

  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 base_link base_footprint 40" /> -->
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find rover_description)/urdf/rover_description.urdf -urdf -model mars_rover"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
  
 <node name="aruco_detector" pkg="marker_detection_rover" type="find_between.py" output="screen" />

    <!-- Launch RViz -->
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen"/>

    <!-- Load URDF -->
  <param
    name="robot_description"
    textfile="$(find rover_description)/urdf/rover_description.urdf" />

  <include file="$(find rover_control)/launch/control.launch"/>
  <include file="$(find rover_control)/launch/teleop.launch"/>

</launch>