<?xml version="1.0" encoding="UTF-8"?>

<launch>




	<!-- Robot pose -->
	<arg name="x" default="4"/>
	<arg name="y" default="2"/>
	<arg name="z" default="0"/>
	<arg name="roll" default="0"/>
	<arg name="pitch" default="0"/>
	<arg name="yaw" default="1"/>
	<arg name="robot_name" default="aruco_sim"/>
	<arg name="node_name" default="urdf_spawner"/>
	<arg name="model_name" default="arucoMarker1"/>
	<arg name="file_name" default="arucoMarker0.dae"/>
	
	<include file="$(find aruco_sim_rover)/launch/robot_description.launch">
		<arg name="model_file" value="$(arg file_name)"/>
	</include>

	<node name="$(arg node_name)" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
		args="-urdf -param robot_description_aruco -model $(arg model_name)
			  -x $(arg x) -y $(arg y) -z $(arg z)
			  -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

	
	<!--launch rviz-->
	<!-- Unnecessary for Simulation-->
	<!--
	<node name="rviz" pkg="rviz" type="rviz" respawn="false"
		  args="-d $(find atom)/default.rviz"/>
	-->

</launch>
