<?xml version="1.0"?>
<launch>

    <!-- send urdf to param server -->
    <param name="robot_description_aruco" command="$(find xacro)/xacro '$(find aruco_sim_rover)/urdf/aruco_marker.xacro'
    model_file:=$(arg model_file)" />

    <arg name="model_file" default="arucoMarker0.dae"/>

    <!-- Send fake joint values-->
    <!--
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false"/>
    </node>
    -->
    <!-- Send robot states to tf -->
    <!--
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>
    -->

</launch>
